{{ansible_managed | comment}}
{# This is a comment that will NOT be rendered. #}

{% for u in myusers %}
	- username: {{ u }}
{% endfor %}


{% for myhost in groups['all'] %}
	{{myhost }}
{% endfor %}


{% if prodserver %}
THIS IS A PRODSERVER!!
{% endif %}

